.filterFoodForm {
    h3 {
        margin-bottom: 14px;
    }
    .marketCondition {
        margin-bottom: 24px;
        .checkbox_group {
            display: flex;
            gap: 1rem;
        }
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    input[type='number'] {
        height: auto;
        border: none;
    }
    .price {
        .setting_price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterFoodForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        grid-template-areas:
            'district city'
            'cond price'
            'submitBtn resetbtn';

        .propertyDistrict {
            grid-area: district;
        }
        .propertyCity {
            grid-area: city;
        }
        .marketCondition {
            grid-area: cond;
        }
        .price {
            grid-area: price;
            width: 100%;
            .setting_price {
                gap: 1rem;
                input {
                    width: 100%;
                }
            }
        }
        .reset_setting_form {
            grid-area: resetbtn;
        }
        input[type='submit'] {
            grid-area: submitBtn;
        }
    }
}
