.filter-realty-form {
    .filterPropertyForm__control {
        width: 100%;
        .filterPropertyForm__value-container {
            .filterPropertyForm__placeholder {
                .filterPropertyForm__input-container {
                    border: none !important;
                }
            }
        }
        .filterPropertyForm__indicators {
            .filterPropertyForm__clear-indicator {
                padding: 0;
            }
            .filterPropertyForm__dropdown-indicator {
                padding: 8px 8px 8px 0;
            }
            span {
                display: none;
            }
        }
    }
    .filterPropertyForm__control {
        &::-webkit-scrollbar {
            width: 2px !important;
        }
        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: gray !important;
        }
    }
    .filterPropertyForm__input {
        height: 25px;
        border: none !important;
    }
    .filterPropertyForm__menu-list {
        max-height: 200px;
        scrollbar-width: thin !important;
    }
}

.filter-realty-form {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'],
    input[type='number']:hover,
    input[type='number']:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
    // чтобы стрелочек не было в инпутах
    input[type='number'] {
        width: 119.5px;
        height: 37px;
        border-radius: var(--radii);
        padding: 10px;
        border: none;
    }
    textarea {
        width: 100%;
        min-height: 60px;
    }
    font-family: var(--font-inter);
    .typeOfService {
        .radio-group {
            .form-checkbox{
                input{
                    width: 1px;
                    height: 1px;
                    opacity: 0;
                }
                margin-right: 1rem;
            }
        }
    }
    .typeOfService,
    .propertyСity,
    .propertyDistrict,
    .propertyCity,
    .houseType,
    .floor,
    .propertyType,
    .rentalCondition,
    .setting-price,
    .amenities,
    .total-area,
    .living-space,
    .sleepingPlaces,
    .balcony,
    .hasFurniture,
    .rooms-quantity,
    .bathroom-quantity,
    .bathroom,
    .hasParking,
    .prepayment,
    .realtyComission {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    .setting-price-inputs,
    .total-area-inputs,
    .living-space-inputs,
    .setting-rooms-quantity,
    .balcony-setting,
    .select-sleepingPlaces,
    .setting-floor,
    .setting-hasFurniture,
    .setting-hasParking,
    .bathroom-setting,
    .select-realtyComission,
    .setting-sleepingPlaces{
        display: flex;
        justify-content: space-between;
    }
    .propertyType,
    .propertyСity,
    .typeOfService,
    .houseType,
    .prepayment,
    .propertyCity,
    .propertyDistrict,
    .rentalCondition,
    .propertyHouseType {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
        }
    }
    .setting-price {
        .setting-price-announcement {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            margin-bottom: 8px;
            label {
                cursor: pointer;
                background-color: #e8f4ff;
                padding: 8px 10px;
                font-size: 12px;
                font-weight: 600;
                border-radius: var(--radii);
                border: none;
                input[type='radio'] {
                    position: absolute;
                    z-index: -1;
                    opacity: 0; //скрыл галочку чекбокса
                    width: 53px;
                    height: 15px;
                }
            }
        }
    }
    input[type='submit'] {
        width: 100%;
        height: 43px;
        padding: 12px 20px;
        border-radius: var(--radii);
        border: none;
        color: white;
        background-color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 600;
        margin-bottom: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        cursor: pointer;
    }

    input[type='checkbox'] {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }

    .form-checkbox {
        cursor: pointer;
    }

    .form-checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .form-checkbox > span::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 4px;
        margin: 0 5px 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: var(--grey-1);
    }

    .form-checkbox > input:checked + span::before {
        background-size: 60%;
        background: var(--main-green) url('shared/ui/icons/union.svg') no-repeat center center;
        box-shadow: none;
    }

    .reset-setting-form {
        padding: 12px 20px;
        width: 100%;
        color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 700;
        background-color: white;
        border-radius: var(--radii);
        border: 1px solid var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            margin-right: 16px;
        }
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .filter-realty-form {
        width: 100%;
        input[type='number'] {
            width: 42%;
            height: 34px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
        input[type='submit'] {
            white-space: normal;
            height: auto;
        }

        .setting-price {
            .setting-price-announcement {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                margin-bottom: 8px;
                label {
                    padding: 8px 3.5%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filter-realty-form {
        display: grid;
        gap: 1.5rem 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'service propertyType'
            'city district'
            'houseType floor'
            'price condition'
            'area living-space'
            'room sleep'
            'bath bathqty'
            'balcony parking'
            'comission furniture'
            'amenities prepayment'
            'send btn-reset';
            //'service condition'
            //'city district'
            //'houseType floor'
            //'area living-space'
            //'room sleep'
            //'bath bathqty'
            //'balcony parking'
            //'comission furniture'
            //'price amenities'
            //'prepayment prepayment'
            //'send btn-reset';

        input[type='number'] {
            width: 44%;
            height: 34px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
        .propertyType,
        .typeOfService,
        .propertyCity,
        .propertyDistrict,
        .houseType,
        .rentalCondition,
        .amenities,
        .sleepingPlaces,
        .balcony,
        .hasFurniture,
        .bathroom-quantity,
        .realtyComission,
        .setting-price,
        .total-area,
        .living-space,
        .rooms-quantity,
        .bathroom {
            margin-bottom: 0;
        }
        .realtyComission {
            grid-area: comission;
        }
        .propertyType{
            grid-area: propertyType;
        }
        .setting-price {
            grid-area: price;
        }
        .total-area {
            grid-area: area;
        }
        .living-space {
            grid-area: living-space;
        }
        .typeOfService {
            grid-area: service;
        }
        .propertyСity {
            grid-area: city;
        }
        .propertyDistrict {
            grid-area: district;
        }
        .houseType {
            grid-area: houseType;
        }
        .floor {
            grid-area: floor;
        }
        .rentalCondition {
            grid-area: condition;
        }
        .rooms-quantity {
            grid-area: room;
        }
        .amenities {
            grid-area: amenities;
        }
        .sleepingPlaces {
            grid-area: sleep;
        }
        .hasFurniture {
            grid-area: furniture;
        }
        .bathroom {
            grid-area: bath;
        }
        .bathroom-quantity {
            grid-area: bathqty;
        }
        .balcony {
            grid-area: balcony;
        }
        .hasParking {
            grid-area: parking;
        }
        .prepayment {
            grid-area: prepayment;
        }
        input[type='submit'] {
            grid-area: send;
        }
        .reset-setting-form {
            grid-area: btn-reset;
            height: 45px;
        }
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .filter-realty-form {
        input[type='number'] {
            width: 47%;
            height: 34px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
        input[type='submit'] {
            white-space: normal;
            height: auto;
        }

        .propertyType,
        .setting-price,
        .total-area,
        .living-space,
        .rooms-quantity,
        .bathroom,
        .balcony{
            width: 100%;
        }
        .setting-price {
            .setting-price-announcement {
                width: 320px; //в процентах не красиво
                label {
                    padding: 10px 14px;
                }
            }
        }
    }
}
@media (max-width: 424px) {
    .filter-realty-form {
        input[type='number'] {
            width: 47%;
            height: 34px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
        input[type='submit'] {
            white-space: normal;
            height: auto;
        }

        .propertyType,
        .setting-price,
        .total-area,
        .living-space,
        .rooms-quantity,
        .bathroom,
        .balcony{
            width: 100%;
        }
        .setting-price {
            .setting-price-announcement {
                width: 260px; //в процентах не красиво
                label {
                    padding: 10px 14px;
                }
            }
        }

    }
}
