#proposed_currency, #exchange_for {
    height: 46px;
    .filterCurrencyForm__control {
        width: 100%;
        height: 100%;
        .filterCurrencyForm__value-container {
            height: 100%;
            align-content: center;
        }
        .filterCurrencyForm__indicators {
            .filterCurrencyForm__clear-indicator {
                padding: 0;
            }
            .filterCurrencyForm__dropdown-indicator {
                padding: 8px 8px 8px 0;
            }
            span {
                display: none;
            }
        }
    }
    .filterCurrencyForm__control {
        &::-webkit-scrollbar {
            width: 2px !important;
        }
        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: gray !important;
        }
    }
    .filterCurrencyForm__input {
        height: 25px;
        border: none !important;
    }
    .filterCurrencyForm__menu-list {
        max-height: 200px;
        scrollbar-width: thin !important;
    }
}

.filterCurrencyForm {
    h3 {
        margin-bottom: 14px;
    }
    .proposedCurrency,
    .exchangeFor,
    .exchangeRateInput {
        margin-bottom: 24px;
    }
    input[type='number'] {
        height: auto;
        border: none;
        width: 50%;
    }
    // чтобы стрелочек не было в инпутах
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'],
    input[type='number']:hover,
    input[type='number']:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
    // чтобы стрелочек не было в инпутах
    input[type='submit'] {
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: center;
        border-radius: var(--radii);
        border: none;
        color: white;
        background-color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 600;
        margin-bottom: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        cursor: pointer;
    }
    .reset-setting-form {
        padding: 12px 20px;
        width: 100%;
        height: 45px;
        color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 700;
        background-color: white;
        border-radius: var(--radii);
        border: 1px solid var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            margin-right: 16px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterCurrencyForm {
        display: grid;
        grid-template-areas:
            'exchangeFor proposedCurrency'
            'exchangeRate .'
            'submitBtn resetBtn';
        gap: 16px;
        .exchangeFor {
            grid-area: exchangeFor;
        }
        .exchangeRateInput {
            grid-area: exchangeRate;
        }
        .proposedCurrency {
            grid-area: proposedCurrency;
        }
        .reset-setting-form {
            grid-area: resetBtn;
        }
        input[type='submit'] {
            grid-area: submitBtn;
        }
    }
}
