.filterCurrencyForm {
    h3 {
        margin-bottom: 14px;
    }
    .proposedCurrency,
    .exchangeFor,
    .exchangeRate {
        margin-bottom: 24px;
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    .exchangeRate {
        .exchangeRateInput {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterCurrencyForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'district city'
            'exchangeFor proposedCurrency'
            'exchangeRate .'
            'submitBtn resetBtn';
        gap: 16px;
        .propertyDistrict {
            margin-bottom: 0;
            grid-area: district;
        }
        .propertyCity {
            margin-bottom: 0;
            grid-area: city;
        }
        .exchangeFor {
            margin-bottom: 0;
            grid-area: exchangeFor;
        }
        .exchangeRate {
            margin-bottom: 0;
            grid-area: exchangeRate;
        }
        .proposedCurrency {
            margin-bottom: 0;
            grid-area: proposedCurrency;
        }
        .reset_setting_form {
            grid-area: resetBtn;
        }
        input[type='submit'] {
            grid-area: submitBtn;
        }
    }
}
