.loadphoto {
    width: 950px;
    padding: 24px;
    border-radius: var(--radii);
    border: none;
    background-color: var(--main-background);
    .ann_field_err{
        color: var(--error);
    }
    .loadphoto_btn_view {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: space-between;
        .loadphoto_btn_hidden {
            opacity: 0;
            width: 0;
            height: 0;
            line-height: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        .loadphoto_btn {
            width: 194px;
            height: 38px;
            padding: 12px;
            border-radius: var(--radii);
            border: none;
            color: white;
            background-color: var(--main-blue);
            font-family: var(--font-lato);
            font-size: 12px;
            font-weight: 300;
            word-wrap: break-word;
            overflow-wrap: break-word;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .preview {
        display: grid;
        grid-template-columns: repeat(auto-fit, 130px);
        gap: 0.75rem 1rem;
        .btn_view_delete {
            display: flex;
            margin-bottom: 8px;
            justify-self: center;
            cursor: pointer;
            & span {
                margin-left: 6px;
            }
        }
    }
    .loadphoto_counter {
        display: flex;
        align-self: flex-start;
        align-items: flex-end;
        flex-direction: column;
        color: var(--grey-3);
        .loadphoto_counter_wrapper {
            & svg {
                margin-right: 6px;
            }
            display: flex;
            align-items: center;
        }
    }
}

@media (max-width: 1023px) {
    .loadphoto {
        width: 100%;
    }
}
@media (max-width: 511px) {
    .mobile_add_photo {
        display: flex;
        flex-direction: column;
        margin-bottom: 27px;
        h3 {
            margin: 0;
        }
        .loadphoto {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            padding: 16px;
            .loadphoto_btn_view {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}
