header.fixed_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}

header {
    width: 100%;
    margin: 0 auto 50px;
    box-shadow: 0 6px 8px 0 #00000014;
    position: absolute;
    z-index: 1000;
    background-color: var(--main-background);
    transition: all 0.7s ease;

    .header_wrapper {
        width: 1240px;
        padding: 24px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //cursor: pointer;
        transition: all 0.7s ease;
        svg{
            flex-shrink: 0;//отключаем сужение для svg
        }
        .addAdvert {
            width: 262px;
            height: 3rem;
            padding: 12px 24px 12px 18px;
            border: none;
            border-radius: var(--radii);
            background-color: var(--grey-2);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-sf);
            cursor: pointer;
            .svg {
                margin-right: 0.5rem;
            }
        }
        .addAdvert.active {
            background-color: var(--main-blue);
        }
        .addAdvert:active {
            opacity: 0.75;
        }
        .language_auth {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            //width: 30%;

            .auth_button {
                width: 197px;
                height: 44px;
                margin-left: 1rem;
                color: var(--main-blue);
                background-color: var(--main-background);
                border: 2px solid var(--main-blue);
                border-radius: var(--radii);
                font-weight: 600;
                font-family: var(--font-inter);

                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .person_auth {
                margin-left: 1rem;
                cursor: pointer;
                svg {
                    height: 3rem;
                    flex-shrink: 0;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    header.fixed_header {
        .header_wrapper {
            padding: 10px 0;
        }
    }
}

@media (max-width: 1439px) {
    header {
        width: 100%;
        margin: 0 auto;
        .header_wrapper {
            width: 85%;
            margin: 0 auto;
            justify-content: space-between;
            .addAdvert,
            .language_auth {
                margin: 0;
            }
        }
    }
}

@media (max-width: 1023px) {
    header {
        width: 100%;
        margin: 0 auto;
        .header_wrapper {
            .addAdvert {
                width: 192px;
                padding: 8px;
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    header.fixed_header {
        .header_wrapper {
            padding: 5px 0;
            #logo {
                transform: scale(0.9);
                margin: 0 0 0 -7px;
            }
            .addAdvert {
                height: 35px;
            }
            .auth_button {
                height: 35px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    header {
        .header_wrapper {
            width: 85%;
            justify-content: space-between;
            padding: 10px 0;
            .addAdvert {
                width: 30%;
                justify-content: center;
            }
            .language_auth {
                .auth_button {
                    width: 85%;
                    padding: 0 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        .header_wrapper {
            .language_auth {
                gap: 0.5rem;
            }
            .addAdvert {
                //width: 40px;
                height: 36px;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    header.fixed_header {
        .header_wrapper {
            height: 40px;
            #logo {
                transform: scale(0.9);
                margin: 0 0 0 -10px;
            }
            .addAdvert {
                height: 30px;
                transition: all 0.6s ease;
            }
        }
    }
    header {
        .header_wrapper {
            height: 70px;
            width: 93%;
            justify-content: space-between;
            .addAdvert {
                justify-content: center;
                //width: 130px;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 600px) {
    header.fixed_header {
        .header_wrapper {
            height: 40px;
            #logo {
                transform: scale(0.9);
                margin: 0 0 0 -10px;
                transition: all 0.6s ease;
            }
            .addAdvert {
                height: 30px;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                height: 30px;
                transition: all 0.6s ease;
            }
        }
    }
    header {
        .header_wrapper {
            height: 60px;
            width: 93%;
            justify-content: space-between;
            #logo {
                transition: all 0.6s ease;
            }
            .addAdvert {
                width: auto;
                text-align: center;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                width: 35px;
                height: 35px;
                cursor: pointer;
                transition: all 0.6s ease;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 476px) {
    header.fixed_header {
        height: 40px;
        margin: 0 auto;
        .header_wrapper {
            height: 30px;
            margin: 0 auto;
            padding: 20px 0;
            #logo {
                transform: scale(0.9);
                margin: 0 0 0 -8px;
                transition: all 0.6s ease;
            }
            .addAdvert {
                height: 30px;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                height: 30px;
                transition: all 0.6s ease;
            }
        }
    }
    header {
        height: 50px;
        .header_wrapper {
            margin-bottom: 1.5rem;
            width: 93%;
            height: 33px;
            justify-content: space-between;
            #logo {
                width: 110px;
            }
            .addAdvert {
                //width: 192px;
                height: 30px;
                padding: 8px;
                font-size: 14px;
                margin: 0;
            }
            .addAdvert + svg {
                cursor: pointer;
            }

            /* .language_auth {
                display: none;
            } */
        }
    }
}

@media (max-width: 424px) {
    header.fixed_header {
        height: 40px;
        margin: 0 auto;
        .header_wrapper {
            height: 30px;
            margin: 0 auto;
            padding: 20px 0;
            #logo {
                height: 30px;
                margin: 0 0 0 -3px;
                transition: all 0.6s ease;
            }
            .addAdvert {
                height: 30px;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                height: 30px;
                transition: all 0.6s ease;
            }
        }
    }
    header {
        .header_wrapper {
            width: 92%;
            height: 33px;
            justify-content: space-between;
            #logo {
                width: 100px;
                transition: all 0.6s ease;
            }
            .addAdvert {
                width: auto;
                height: 30px;
                padding: 8px;
                font-size: 14px;
                margin: 0 1rem 0 0;
                transition: all 0.6s ease;
            }
            .addAdvert + svg {
                cursor: pointer;
                transition: all 0.6s ease;
            }
            .language_auth {
                justify-content: flex-end;
                .language{
                    margin-left: auto;
                }
            }
        }
    }
}
