.cookie_bg_shadow {
    background-color: transparent !important;
}

.accept_cookie_wrapper {
    align-items: center !important;
    width: 100vw;
    padding: 1rem;
    font-family: 'Inter';
}

.accept_cookie_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
        font-size: 1.2rem !important;
    }
}

.accept_button {
    height: 2.7rem;
    border-radius: 0.5rem !important;
    padding: 0.5rem 1rem !important;
    font-family: 'Inter';
    font-size: 1.2rem !important;
    font-weight: 600;
}
