.filterJobForm {
    .filterJobForm__control {
        width: 100%;
        .filterJobForm__indicators {
            .filterJobForm__clear-indicator {
                padding: 0;
            }
            .filterJobForm__dropdown-indicator {
                padding: 8px 8px 8px 0px;
            }
            span {
                display: none;
            }
        }
    }
    .filterJobForm__control {
        &::-webkit-scrollbar {
            width: 2px !important;
        }
        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: gray !important;
        }
    }
    .filterJobForm__input {
        height: 25px;
        border: none !important;
    }
    .filterJobForm__menu-list {
        max-height: 200px;
        scrollbar-width: thin !important;
    }
}

.filterJobForm {
    h3 {
        margin-bottom: 14px; //8px
    }
    input[type='number'] {
        height: auto;
        border: none;
    }
    // чтобы стрелочек не было в инпутах
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'],
    input[type='number']:hover,
    input[type='number']:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
    // чтобы стрелочек не было в инпутах
    .typeOfJob,
    .durationOfWork,
    .typeOfPayment,
    .jobPrice,
    .withExperience {
        margin-bottom: 24px;
    }
    .typeOfJob{
        .checkbox-group{
            display: flex;
            justify-content: space-between;
        }
    }
    .jobPrice {
        .setting-jobPrice {
            display: flex;
            justify-content: space-between;
            input[type='number'] {
                width: 119.5px;
                height: 37px;
                border-radius: var(--radii);
                padding: 10px;
                border: none;
            }
        }
    }
    input[type='submit'] {
        width: 100%;
        height: 43px;
        // padding: 12px 20px;
        display: flex;
        justify-content: center;
        border-radius: var(--radii);
        border: none;
        color: white;
        background-color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 600;
        margin-bottom: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        cursor: pointer;
    }
    .reset-setting-form {
        padding: 12px 20px;
        width: 100%;
        height: 45px;
        color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 700;
        background-color: white;
        border-radius: var(--radii);
        border: 1px solid var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            margin-right: 16px;
        }
    }
}

@media (max-width: 1439px) {
    .filterJobForm {
        .jobPrice {
            .setting-jobPrice {
                input[type='number'] {
                    width: 42%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterJobForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'typeOfJob durationOfWork'
            'payment withExp'
            'price ...'
            'btnReset btnSubmit';
        .durationOfWork{
            grid-area: durationOfWork;
        }
        .jobPrice{
            grid-area: price;
        }
        .typeOfJob{
            grid-area: typeOfJob;
        }
        .typeOfPayment{
            grid-area: payment;
        }
        .withExperience{
            grid-area: withExp;
        }
        .durationOfWork,
        .jobPrice,
        .typeOfJob,
        .typeOfPayment,
        .withExperience,
        .reset-setting-form,
        input[type='submit'] {
            width: 90%;
            justify-self: center;
        }
        .reset-setting-form {
            grid-area: btnReset;
        }
        input[type='submit'] {
            grid-area: btnSubmit;
        }
    }
}