.filterTaxiForm {
    h3 {
        margin-bottom: 14px; //8px
    }
    .unitOfMeasurement,
    .typeOfTaxi,
    .taxiPrice {
        margin-bottom: 24px;
    }
    .unitOfMeasurement {
        .radio_group {
            display: flex;
            justify-content: space-between;
        }
    }
    .taxiPrice {
        .setting_taxiPrice {
            display: flex;
            justify-content: space-between;
        }
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            font-size: 16px;
            font-weight: 700;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .filterTaxiForm {
        display: grid;
        gap: 1.5rem;
        grid-template-areas:
            'district city'
            'type unit'
            'price .'
            'btnSubmit btnReset';
        .propertyDistrict {
            grid-area: district;
            margin-bottom: 0;
        }
        .propertyCity {
            grid-area: city;
            margin-bottom: 0;
        }
        .unitOfMeasurement,
        .typeOfTaxi,
        .taxiPrice {
            margin-bottom: 0;
        }
        .typeOfTaxi {
            grid-area: type;
        }
        .unitOfMeasurement {
            grid-area: unit;
            .radio_group {
                padding-top: 8px;
            }
        }
        .taxiPrice {
            grid-area: price;
        }
        input[type='submit'] {
            grid-area: btnSubmit;
        }
        .reset_setting_form {
            grid-area: btnReset;
        }
    }
}
