.price {
    margin-bottom: 24px;

    .setting_price {
        display: flex;
        justify-content: space-between;
        input[type='text'],
        input[type='number'] {
            width: 119.5px;
            height: 37px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .price {
        grid-area: price;
    }
}
