.price {
    margin-bottom: 24px;

    .setting_price {
        display: flex;
        justify-content: space-between;
        input[type='text'],
        input[type='number'] {
            width: 119.5px;
            height: 37px;
            border-radius: var(--radii);
            padding: 10px;
            border: none;
        }
    }
}

@media (max-width: 1023px) {
    .price {
        grid-area: price;

        .setting_price {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            input[type="number"] {
                width: 100%;
            }
        }
    }
}
