.form-reset-password{
    h3{
        font-size: 20px;
    }
    form{
        margin-top: 24px;
        input[type='submit']{
            background-color: var(--main-green);
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}