@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-ui-display?styles=16099,16101,16097');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    //-webkit-user-select: none;
    //-moz-user-select: none;
    //-ms-user-select: none;
    //user-select: none;
}

:root {
    //colors
    --main-blue: #1f6fde;
    --main-black: #1c1c1e;
    --main-green: #02c66e;
    --white: #ffffff;
    --error: #ff3f25;
    --main-background: #f9f9f9;
    --grey-1: #dcdcdc;
    --grey-2: #bcbcbc;
    --grey-3: #8f8f8f;
    --grey-4: #f8f8f8;

    // fonts
    --font-inter: 'Inter', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-sf: 'SF UI Display', sans-serif;

    //border-radius
    --radii: 8px;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    main {
        flex: 1;//прижимаем футер к низу
    }
    footer {
        margin-top: auto;//прижимаем футер к низу
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: 1px !important;
    height: 1px;
    opacity: 0 !important;
}

.form_checkbox > span::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    margin: 0 1rem 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: var(--grey-1);
}
input[type="radio"] + span::before{
    border-radius: 0.75rem;
}

.form_checkbox > input:checked + span::before {
    background-size: 60%;
    background: var(--main-green) url('shared/ui/icons/union.svg') no-repeat
    center center;
    box-shadow: none;
}
.form_checkbox{
    display: flex;
}
.form_checkbox > span {
    display: flex;
    align-items: center;
    user-select: none;
}
// чтобы стрелочек не было в инпутах
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
}
// чтобы стрелочек не было в инпутах

main{
    max-width: 1440px;
    margin: 0 auto;
}
@media (max-width: 1439px){
     main {
        width: 100%;
     }
}
a{
    text-decoration: none;
}