.image_wrapper {
    .active_image {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        overflow: hidden;
        width: 100%;
        height: 60vh;
        border-radius: 1rem;
        img {
            position: absolute;
            top: 0;
            z-index: 4;
            height: 60vh;
            margin: 0 auto;
            object-fit: cover;
            cursor: pointer;
        }
        .vertical {
            max-width: 100%;
        }
        .horizontal {
            width: 100%;
        }
        .blur_left,
        .blur_right {
            position: absolute;
            top: 0;
            max-width: 100%;
            height: 60vh;
            filter: blur(8px);
        }
        .blur_left {
            z-index: 2;
            left: 0;
            clip-path: inset(0 0 0 0);
        }
        .blur_right {
            z-index: 3;
            right: 0;
            clip-path: inset(0 0 0 0);
        }
        .arrow_container {
            position: absolute;
            z-index: 5;
            top: 48%;
            right: 10px;
            width: 40px;
            height: 40px;
            box-shadow: 0px 6px 8px 0px #00000024;
            border-radius: 4px;
            background-color: #00000024;
            padding-left: 3px;
            cursor: pointer;
            svg {
                width: 40px;
                height: 40px;
                transition: all 0.5s ease;
            }
            svg:hover {
                transform: scale(1.2);
            }
        }
        .arrow_container:first-child {
            left: 10px;
            padding-left: 0;
            svg {
                padding-right: 5px;
            }
        }
        .share_icon,
        .add_to_favorite {
            position: absolute;
            z-index: 4;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            box-shadow: 0px 6px 8px 0px #00000024;
            border-radius: 4px;
            background-color: #ffffff65;
            cursor: pointer;
            svg {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 24px;
                height: 24px;
            }
        }
        .share_icon {
            right: 50px;
        }
    }
    .active_no_image {
        position: relative;
        height: 20vh;
        display: flex;
        justify-content: center;
        .share_icon,
        .add_to_favorite {
            position: absolute;
            z-index: 4;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            box-shadow: 0px 6px 8px 0px #00000024;
            border-radius: 4px;
            background-color: #ffffff65;
            cursor: pointer;
            svg {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 24px;
                height: 24px;
            }
        }
        .share_icon {
            right: 50px;
        }
    }
    .no_image {
        height: 20vh;
        border-radius: 8px;
    }
    .image_list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 1rem;
        width: 100%;
        .blurred_image {
            opacity: 0.5;
            cursor: pointer;
        }
        img {
            width: 10.7%;
            aspect-ratio: 1/1;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}

@media (max-width: 1440px) {
    .image_wrapper {
        .active_image {
            height: 40vw;
            & > img,
            .blur_left,
            .blur_right {
                height: 40vw;
            }
        }
    }
}

@media (max-width: 767px) {
    .image_wrapper {
        .active_image {
            height: 60vw;
            margin-top: 1rem;
            .add_to_favorite {
                right: 22px;
                top: 22px;
            }
            .share_icon {
                right: 22px;
                top: 72px;
            }
            & > img,
            .blur_left,
            .blur_right {
                height: 60vw;
            }
        }
    }
}

@media (max-width: 475px) {
    .image_wrapper {
        .active_image {
            .add_to_favorite {
                width: 25px;
                height: 25px;
                & > svg {
                    width: 15px;
                    height: 15px;
                }
                right: 10px;
                top: 10px;
            }
            .share_icon {
                width: 25px;
                height: 25px;
                & > svg {
                    width: 15px;
                    height: 15px;
                }
                right: 10px;
                top: 40px;
            }
        }
    }
}
