.bread-crumbs {
    max-width: 1240px;
    margin: 0 !important;
    color: var(--grey-3);
    font-size: 14px;
    a {
        text-decoration: none;
        color: var(--grey-3);
    }
}

@media (max-width: 1440px) {
    .bread-crumbs {
        width: 85%;
    }
}
