.filterDocumentForm {
    h3 {
        margin-bottom: 14px;
    }
    .documentDuration,
    .documentType {
        margin-bottom: 24px;
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    input[type='number'] {
        height: auto;
        border: none;
    }
    .price {
        .setting_price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterDocumentForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'district city'
            'duration type'
            'price price'
            'resetBtn submitBtn';
        gap: 16px;

        .propertyDistrict {
            grid-area: district;
        }
        .propertyCity {
            grid-area: city;
        }
        .documentDuration {
            grid-area: duration;
        }
        .documentType {
            grid-area: type;
        }
        .price {
            grid-area: price;
            width: 100%;
            .setting_price {
                gap: 1rem;
                input {
                    width: 100%;
                }
            }
        }
        input[type='submit'] {
            grid-area: submitBtn;
        }
        .reset_setting_form {
            grid-area: resetBtn;
        }
    }
}
