.add-ann-form {
    .filterAnnouncementCategory__control {
        width: 30%;
        .filterAnnouncementCategory__indicators {
            .filterAnnouncementCategory__clear-indicator {
                padding: 0;
            }
            .filterAnnouncementCategory__dropdown-indicator {
                padding: 8px 8px 8px 0px;
            }
            span {
                display: none;
            }
        }
    }
    .filterAnnouncementCategory__control {
        &::-webkit-scrollbar {
            width: 2px !important;
        }
        &::-webkit-scrollbar-thumb {
            width: 2px;
            background-color: gray !important;
        }
    }
    .filterAnnouncementCategory__input {
        height: 25px;
        border: none !important;
    }
    .filterAnnouncementCategory__menu {
        width: 30%;
    }
    .filterAnnouncementCategory__menu-list {
        max-height: 200px;
        scrollbar-width: thin !important;
    }
}
main {
    max-width: 1440px;
    margin: 0 auto;
    .add-ann {
        width: 1240px;
        padding-top: 110px;
        margin: 0 auto 80px;
        .add-ann-form {
            h1 {
                font-size: 34px;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 27px;
            }
            .ann-field {
                margin-bottom: 9px;
                h3 {
                    margin-bottom: 16px;
                    span {
                        color: red;
                    }
                }
                .ann-field-err {
                    height: 18px;
                    color: red;
                    font-size: 14px;
                }
                #ann-field-price {
                    width: 25%;
                }
                input[type='text'],
                textarea {
                    width: 50%;
                    height: 36px;
                    border-radius: var(--radii);
                    border: 1px solid var(--grey-1);
                }
                textarea {
                    min-height: 120px;
                    padding: 12px;
                }
                .loadphoto {
                    width: 950px;
                    padding: 24px;
                    display: flex;
                    border-radius: var(--radii);
                    border: none;
                    background-color: var(--main-background);
                    .loadphoto-btn-view {
                        .loadphoto-btn-hidden {
                            opacity: 0;
                            width: 0;
                            height: 0;
                            line-height: 0;
                            overflow: hidden;
                            padding: 0;
                            margin: 0;
                        }
                        .loadphoto-btn {
                            width: 194px;
                            height: 38px;
                            padding: 12px;
                            margin-bottom: 14px;
                            border-radius: var(--radii);
                            border: none;
                            color: white;
                            background-color: var(--main-blue);
                            font-family: var(--font-lato);
                            font-size: 12px;
                            font-weight: 300;
                            word-wrap: break-word;
                            overflow-wrap: break-word;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                        }
                        .loadphoto-btn-view-list{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            width: 193px;
                            .loadphoto-btn-view-delete{
                                display: flex;
                                margin-bottom: 8px;
                                justify-self: center;
                                cursor: pointer;
                                & span{
                                    margin-left: 6px;
                                }
                            }
                        }
                    }

                    .loadphoto-icons {
                        display: inline;
                        & svg {
                            margin-left: 34px;
                        }
                    }
                    .loadphoto-counter {
                        display: flex;
                        margin-left: auto;
                        align-items: flex-end;
                        color: var(--grey-3);
                        .loadphoto-counter-wrapper {
                            & svg {
                                margin-right: 6px;
                            }
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            .add-ann-form-button {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin-top: 65px;
                input[type='submit'] {
                    width: 60%;
                    height: 48px;
                    padding: 12px 20px;
                    border-radius: var(--radii);
                    border: none;
                    color: white;
                    background-color: var(--main-blue);
                    font-family: var(--font-lato);
                    font-weight: 600;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    cursor: pointer;
                }
                .goBack {
                    width: 30%;
                    padding: 12px 20px;
                    color: var(--main-blue);
                    font-family: var(--font-lato);
                    font-weight: 700;
                    background-color: white;
                    border-radius: var(--radii);
                    border: 1px solid var(--main-blue);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    height: 48px;
                }
            }
        }
    }
}
