.filterAnnouncementCategory__control {
    width: 30%;
    border-radius: var(--radii)!important;
    height: 48px;
    .filterAnnouncementCategory__value-container {
        height: 100%;
        .filterAnnouncementCategory__single-value{
            margin-left: 0.5rem;
        } // чтобы курсор при поиске не закрывал текст
        .filterAnnouncementCategory__placeholder {
            height: 100%;
            display: flex;
            align-items: center;
        }
        input {
            height: auto;
        }
    }
    .filterAnnouncementCategory__indicators {
        .filterAnnouncementCategory__clear-indicator {
            padding: 0;
        }
        .filterAnnouncementCategory__dropdown-indicator {
            padding: 8px 8px 8px 0;
        }
        span {
            display: none;
        }
    }
    &::-webkit-scrollbar {
        width: 2px !important;
    }
    &::-webkit-scrollbar-thumb {
        width: 2px;
        background-color: gray !important;
    }
    .filterAnnouncementCategory__input {
        height: 25px;
        border: none !important;
    }
}
.filterAnnouncementCategory__menu {
    width: 30% !important;

    .filterAnnouncementCategory__menu-list {
        max-height: 200px;
        scrollbar-width: thin !important;
        overflow-y: scroll !important; // иначе в сафари не скроллится окно с опциями
    }
}

@media (min-width: 511px) and (max-width: 767px) {
    .filterAnnouncementCategory__control {
        width: 70% !important;
    }
    .filterAnnouncementCategory__menu {
        width: 70% !important;
    }
}

@media (max-width: 511px) {
    .filterAnnouncementCategory__menu {
        width: 100% !important;
    }
    .filterAnnouncementCategory__control {
        width: 100%;
        height: 20px;
        align-items: center;
        .filterAnnouncementCategory__value-container {
            height: 100%;
            .filterAnnouncementCategory__input-container {
                height: 100%;
                padding: 0 6px;
                margin: 0;
            }
        }
    }
    .filterAnnouncementCategory__menu {
        width: 100%;
    }
}
