.advert-wrapper {
    width: 1240px;
    margin: 0px auto 50px;
    .advert-header {
        font-size: 1.63rem;
        margin: 1.5rem 0;
        color: var(--main-black);
    }
    .advert-info {
        display: flex;
        justify-content: space-between;
        gap: 1.3rem;
        width: 100%;
        margin-top: 16px;
        .product-info {
            width: 64.5%;
            .description {
                margin-top: 0.8rem;
                .description-header {
                    margin-bottom: 1rem;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--main-black);
                }
                p {
                    font-size: 20px;
                    color: var(--main-black);
                }
            }
        }
    }
    .owner-info {
        width: 32.4%;
    }
}
