.advert-wrapper {
    width: 1240px;
    margin: 0px auto 50px;
    .advert-header {
        font-size: 1.63rem;
        margin: 1.5rem 0;
        color: var(--main-black);
    }
    .advert-info {
        display: flex;
        justify-content: space-between;
        gap: 1.3rem;
        width: 100%;
        margin-top: 16px;
        .product-info {
            width: 64.5%;
        }
    }
    .owner-info {
        width: 32.4%;
    }
}
