.advert-wrapper {
    width: 1240px;
    margin: 0px auto 50px;
    .advert-header {
        font-size: 1.63rem;
        margin: 1.5rem 0;
    }
    .advert-info {
        display: flex;
        justify-content: space-between;
        gap: 1.3rem;
        width: 100%;
        margin-top: 16px;
        .product-info {
            width: 64.5%;
            .image-wrapper {
                .active-image {
                    position: relative;
                    margin-bottom: 16px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                    svg {
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                    svg:first-child {
                        left: 0;
                    }
                    svg:last-child {
                        right: 0;
                    }
                }
                .image-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    width: 100%;
                    .blurred-image {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                    img {
                        width: 9.65%;
                        border-radius: 8px;
                    }
                }
            }
        }
        .owner-info {
            width: 32.4%;
        }
    }
}
