@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
    }
}

.sticky_button {
    position: sticky;
    bottom: 1.5rem;
    z-index: 10;
    animation: pulse 2.5s infinite;
}
