.categories_not_found {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin: auto;
    .category {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: var(--font-sf);
        font-size: 20px;
        font-weight: 600;
        color: var(--main-black);
        cursor: pointer;
    }
    .category:hover {
        color: var(--main-blue);
    }
    .category.exchange_rate {
        gap: 0;
    }
}

@media (max-width: 1240px) {
    .categories_not_found {
        .category {
            flex-direction: column;
            gap: 0.5rem;
        }
        .category.exchange_rate {
            gap: 0.5rem;
            svg {
                margin-left: 1.5rem;
            }
        }
    }
}

@media (max-width: 1023px) {
    .categories_not_found {
        gap: 1rem;
        .category {
            text-align: center;
            span {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px) {
    .categories_not_found {
        .category {
            align-items: flex-start;
            span {
                text-align: left;
                font-size: 13px;
            }
        }
        .category.exchange_rate {
            gap: 0.5rem;
            svg {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 400px) {
    .categories_not_found {
        .category:last-child {
            display: none;
        }
    }
}
