form {
    h3 {
        margin-bottom: 8px;
    }
    input[type="radio"]{
        display: none;
    }
    label{
        padding: 20px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 17px;
    }
    label:hover{
        background-color: var(--grey-1);
        border-radius: var(--radii);
    }
    .typeOfService,
    .typeOfTransport,
    .transportationCategory,
    .mark,
    .model,
    .engineType,
    .engineСapacity,
    .drive,
    .yearOfProduction,
    .transmissionType,
    .bodyType,
    .condition,
    .passengerCapacity {
        margin-bottom: 24px;
        .select-transportFilter {
            width: 100%;
            padding: 8px 16px;
            background-color: white;
            border-radius: var(--radii);
            border: none;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }
    }
    // .select-transportFilter-dropdown{
    //     z-index: 1;
    //     margin-top: 8px;
    //     position: absolute;
    //     width: 22.5%;
    //     padding: 8px 0px;
    //     background-color: var(--white);
    //     border-radius: var(--radii);
    // }
    .select-settingFormFilter-dropdown-height-limited{
        margin-top: 8px;
        position: absolute;
        width: 246px;
        z-index: 1;
        padding: 8px 0px;
        background-color: var(--white);
        border-radius: var(--radii);
        max-height: 300px;
        overflow-y: scroll;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15)
    }
    .passengerCapacity {
        margin-bottom: 9.5px;
        .select-passengerCapacity {
            width: 100%;
            #input-select-passengerCapacity {
                width: 44%;
            }
            p {
                color: var(--error);
                font-size: 12px;
                height: 14.5px;
            }
        }
    }

    // .reset-setting-form{}
}

@media (min-width: 1024px) and (max-width: 1439px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 22.5%;
            }
        }
    }
}
@media (min-width: 901px) and (max-width: 1023px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 32.3%;
            }
        }
    }
}
@media (min-width: 800px) and (max-width: 900px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 31.75%;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 800px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 31.5%;
            }
        }
    }
}
@media (min-width: 730px) and (max-width: 767px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 89.5%;
            }
        }
    }
}
@media (min-width: 700px) and (max-width: 729px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 89%;
            }
        }
    }
}
@media (min-width: 670px) and (max-width: 699px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 88.5%;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 669px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 88%;
            }
        }
    }
}
@media (min-width: 600px) and (max-width: 639px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 87%;
            }
        }
    }
}
@media (min-width: 570px) and (max-width: 599px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 86.5%;
            }
        }
    }
}
@media (min-width: 530px) and (max-width: 569px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 85.5%;
            }
        }
    }
}
@media (min-width: 500px) and (max-width: 529px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 84.5%;
            }
        }
    }
}
@media (min-width: 475px) and (max-width: 499px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 83.5%;
            }
        }
    }
}
@media (min-width: 440px) and (max-width: 474px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 82.5%;
            }
        }
    }
}
@media (min-width: 425px) and (max-width: 439px){
    form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 81.5%;
            }
        }
    }
}
@media (min-width: 410px) and (max-width: 424px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 81%;
            }
        }
    }
}
@media (min-width: 390px) and (max-width: 409px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 80%;
            }
        }
    }
}
@media (min-width: 370px) and (max-width: 389px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 78%;
            }
        }
    }
}
@media (min-width: 350px) and (max-width: 369px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 77.6%;
            }
        }
    }
}
@media (min-width: 345px) and (max-width: 349px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 77%;
            }
        }
    }
}
@media (min-width: 330px) and (max-width: 344px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 76%;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 329px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 75.6%;
            }
        }
    }
}
@media (min-width: 310px) and (max-width: 319px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 75%;
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 309px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 74.5%;
            }
        }
    }
}
@media (max-width: 299px){
        form{
        .typeOfService{
            .select-settingFormFilter-dropdown-height-limited{
                width: 70%;
            }
        }
    }
}