.modal {
    opacity: 0;
    max-height: 0;
    overflow: scroll;
    overflow-x: hidden;
    transition:
        opacity 0.6s ease,
        max-height 0s linear 0.6s;

    &.visible {
        opacity: 1;
        max-height: 100dvh; //при 100vh в сафари на маленьком экране не видно кнопку "зарегистрироваться"
        transition:
            opacity 0.6s ease,
            max-height 1s ease;

        .modal_wrapper {
            height: 0;
            transition: height 1s ease 0.6s;
        }

        &.visible_wrapper {
            .modal_wrapper {
                height: auto;
            }
        }
    }
}

.modal::-webkit-scrollbar {
    width: 0;
}

.modal_wrapper {
    overflow: hidden;
}

input {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    padding: 12px 24px;
    outline: none;
    &:focus {
        border: 1px solid var(--main-blue) !important;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    input {
        height: 40px;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
    .modal_wrapper {
        width: 520px;
        border-radius: 1rem;
        border: none;
        padding: 60px 60px 80px;
        position: relative;
        top: 72px;
        left: calc(50% + 102px);
        box-shadow: 0 0 20px 0 #00000012;
        background-color: var(--white);
        .close {
            background: transparent;
            border: none;
            position: absolute;
            top: 16px;
            right: 32px;
        }
        .modal_header {
            display: flex;
            justify-content: space-between;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 1.5rem;
            color: var(--grey-2);
            .enter,
            .registration {
                width: 168px;
                height: 40px;
                display: grid;
                align-content: center;
                justify-content: center;
                cursor: pointer;
            }
            .enter_active {
                font-weight: 600;
                border-bottom: 1px solid var(--main-black);
                color: var(--main-black);
            }
        }
        form {
            .input_error {
                min-height: 1.5rem;
            }
        }
        .form_reset_password {
            h3 {
                font-size: 20px;
            }
            p {
                margin-top: 2rem;
                font-size: 20px;
            }
            form {
                margin-top: 24px;
                input[type='submit'] {
                    background-color: var(--main-green);
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .modal {
        .modal_wrapper {
            left: 54.8%;
            width: 38%;
        }
    }
}

@media (max-width: 1200px) {
    .modal {
        .modal_wrapper {
            left: 53%;
            width: 40%;
        }
    }
}

@media (max-width: 1023px) {
    .modal {
        .modal_wrapper {
            top: 58px;
        }
    }
}

@media (max-width: 1000px) {
    .modal {
        .modal_wrapper {
            left: 38%;
            width: 55%;
        }
    }
}

@media (max-width: 767px) {
    .modal {
        background-color: rgba($color: #000000, $alpha: 0.75);
        height: 150vh; //удалить, если не поправится прыгающий фон на iphone
        .modal_wrapper {
            width: 90%;
            left: calc((100vw - 90%) / 2);
            top: 40px;
            padding: 60px 20px 40px;
        }
    }
}

@media (max-width: 425px) {
    .modal {
        .modal_wrapper {
            top: 10px;
            form {
                .input_error {
                    min-height: 1rem;
                }
            }
        }
    }
}
