.filterExcursionForm {
    h3 {
        margin-bottom: 14px;
    }
    .settingExcursionTransfer,
    .settingExcursionFood {
        width: fit-content;
        margin-bottom: 24px;
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    input[type='number'] {
        height: auto;
        border: none;
    }
    .price {
        .setting_price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterExcursionForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-template-areas:
            'district city'
            'food transfer'
            'price price'
            'submitBtn resetBnt';

        .propertyDistrict {
            grid-area: district;
        }
        .propertyCity {
            grid-area: city;
        }
        .settingExcursionFood {
            grid-area: food;
        }
        .settingExcursionTransfer {
            grid-area: transfer;
        }
        .price {
            grid-area: price;
            width: 100%;
            .setting_price {
                gap: 1rem;
                input {
                    width: 100%;
                }
            }
        }
        .reset_setting_form {
            grid-area: resetBnt;
        }
        input[type='submit'] {
            grid-area: submitBtn;
        }
    }
}
