.filterExcursionForm {
    h3 {
        margin-bottom: 14px;
    }
    .settingExcursion {
        margin-bottom: 24px;
    }
    input[type='submit'] {
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: center;
        border-radius: var(--radii);
        border: none;
        color: white;
        background-color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 600;
        margin-bottom: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        cursor: pointer;
    }
    .resetSettingForm {
        padding: 12px 20px;
        width: 100%;
        height: 45px;
        color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 700;
        background-color: white;
        border-radius: var(--radii);
        border: 1px solid var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            margin-right: 16px;
        }
    }
    .formCheckbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .formCheckbox > span::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 4px;
        margin: 0 1rem 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: var(--grey-1);
    }

    .formCheckbox > input:checked + span::before {
        background-size: 60%;
        background: var(--main-green) url('shared/ui/icons/union.svg') no-repeat center center;
        box-shadow: none;
    }

    .formCheckbox > span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        font-size: 15px;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .filterExcursionForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .settingExcursion{
            margin-bottom: 0;
        }
    }
}
