.popular-adverts {
    width: 1440px;
    margin: 0px auto 80px;
    .popular-adverts-wrapper {
        width: 1240px;
        margin: 0 auto 40px;
        font-family: var(--font-inter);
        & .pagination {
            text-align: center;
        }
        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 40px;
            font-family: var(--font-sf);
        }
        .adverts-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
            gap: 1.25rem;
            margin-bottom: 40px;
            .adverts-cart {
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                width: 295px;
                height: 380px;
                background-color: var(--main-background);
                border-radius: 1rem;
                border: none;
                img {
                    width: 295px;
                    height: 239px;
                    border-radius: 16px 16px 0 0;
                    border: none;
                }
                .description {
                    padding: 0.75rem 1rem 1.25rem;
                    .price {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 14px;
                        color: var(--main-blue);
                        letter-spacing: 3px;
                    }
                    p {
                        margin-bottom: 0.75rem;
                    }
                    span {
                        color: var(--grey-3);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .popular-adverts {
        width: 100%;
        margin: 0px auto 40px;
        .popular-adverts-wrapper {
            width: 85%;
            margin: 0 auto 40px;
            font-family: var(--font-inter);
            .adverts-list {
                justify-items: center;
            }
            & .pagination {
                text-align: center;
            }
            h3 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 1090px) {
    .popular-adverts {
        width: 100%;
        margin: 0 auto 20px;
        .popular-adverts-wrapper {
            width: 85%;
            margin: 0 auto 20px;
            font-family: var(--font-inter);
            & .pagination {
                text-align: center;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 18px;
            }
            .adverts-list {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
                gap: 1rem;
                margin: 20px auto;
                justify-items: center;
                .adverts-cart {
                    margin: 0 auto;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                    width: 190px;
                    height: 264px;
                    background-color: var(--main-background);
                    border-radius: 1rem;
                    border: none;
                    img {
                        width: 190px;
                        height: 140px;
                        border-radius: 16px 16px 0 0;
                        border: none;
                    }
                    .description {
                        padding: 0.75rem 1rem 10px;
                        .price {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 12px;
                            color: var(--main-blue);
                            letter-spacing: 3px;
                        }
                        p {
                            margin-bottom: 12px;
                        }
                        span {
                            color: var(--grey-3);
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .popular-adverts {
        .popular-adverts-wrapper {
            width: 93.5%;
        }
    }
}

@media (max-width: 425px) {
    .popular-adverts {
        .popular-adverts-wrapper {
            h3 {
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }
}
