.reset {
    padding: 25vh 0;
    max-width: 1240px;
    margin: 0px auto;
    height: 100%;
    .form {
        border: 1px solid var(--grey-1);
        border-radius: 0.5rem;
        padding: 2rem;
    }
    .reset-success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 32vh;
        font-size: 2rem;
        text-align: center;
        .main-link {
            font-size: 2rem;
            text-decoration: none;
        }
    }
}

.reset-input {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    padding: 12px 24px;
    margin-bottom: 24px;
    outline: none;
    &:hover {
        background-color: var(--grey-1);
    }
}

.form-checkbox > span > p {
    font-size: 14px;
}

.submit {
    margin: 0;
    height: 43px;
    background-color: var(--main-green);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: var(--main-green);
    }
}

.password-div {
    position: relative;
    #eye {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 24px;
        .eye {
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 1440px) {
    .reset {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .reset {
        max-width: 90%;
        padding: 23.5vh 0;
        .reset-success {
            height: 27vh;
        }
    }
}

@media (max-width: 476px) {
    .reset {
        max-width: 85%;
        .form {
            padding: 1rem;
            .reset-input {
                padding: 6px 12px;
                font-size: 14px;
            }
        }
        .reset-success {
            font-size: 1.5rem;
            .main-link {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .reset-input {
        height: 40px;
    }

    .password-div {
        #eye {
            top: 4px;
        }
    }
}
