.reset {
    height: 80vh;
    max-width: 1240px;
    margin: 0 auto;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
        width: 100%;
        border: 1px solid var(--grey-1);
        border-radius: 0.5rem;
        padding: 2rem;
        .input_error {
            min-height: 2rem;
            height: fit-content;
        }
    }
    .reset_success {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
        text-align: center;
        .main_link {
            font-size: 2rem;
            text-decoration: none;
            color: #1f6fde;
        }
    }
}

.password_div {
    position: relative;
    #eye {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 24px;
        .eye {
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 1024px) {
    .reset{
        width: 90vw;
    }
}


@media (min-width: 425px) and (max-width: 768px) {
    .reset_input {
        height: 40px;
    }

    .password_div {
        #eye {
            top: 4px;
        }
    }
}
