.filterFoodForm {
    h3 {
        margin-bottom: 14px;
    }
    .foodDelivery,
    .foodEstablishment,
    .foodType {
        margin-bottom: 24px;
    }
    .foodDelivery,
    .foodEstablishment {
        width: fit-content;
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            font-size: 16px;
            font-weight: 700;
        }
    }
    input[type='number'] {
        height: auto;
        border: none;
    }
    .price {
        .setting_price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterFoodForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        grid-template-areas:
            'district city'
            'foodType .'
            'foodDel foodEst'
            'price price'
            'submitBtn resetBnt';

        .propertyDistrict {
            margin-bottom: 0;
            grid-area: district;
        }
        .propertyCity {
            margin-bottom: 0;
            grid-area: city;
        }
        .foodDelivery {
            grid-area: foodDel;
        }
        .foodEstablishment {
            grid-area: foodEst;
        }
        .foodType {
            grid-area: foodType;
        }
        .price {
            grid-area: price;
            width: 100%;
            .setting_price {
                gap: 1rem;
                input {
                    width: 100%;
                }
            }
        }
        .reset_setting_form {
            width: 135%;
            justify-self: flex-end;
            grid-area: resetBnt;
        }
        input[type='submit'] {
            width: 135%;
            grid-area: submitBtn;
        }
    }
}
