.filterServiceForm{
    .houseCall{
        h3{
            margin-bottom: 14px;
        }
        .setting-houseCall{
            margin-bottom: 24px;
            .form-checkbox{
                cursor: pointer;
            }
        }
    }
        input[type='submit'] {
        width: 100%;
        height: 43px;
        display: flex;
        justify-content: center;
        border-radius: var(--radii);
        border: none;
        color: white;
        background-color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 600;
        margin-bottom: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        cursor: pointer;
    }
    .reset-setting-form {
        padding: 12px 20px;
        width: 100%;
        height: 45px;
        color: var(--main-blue);
        font-family: var(--font-lato);
        font-weight: 700;
        background-color: white;
        border-radius: var(--radii);
        border: 1px solid var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            margin-right: 16px;
        }
    }
}