.filterServiceForm {
    .houseCall,
    .servicePrice {
        h3 {
            margin-bottom: 14px;
        }
        .setting_houseCall,
        .setting_servicePrice {
            width: fit-content;
            margin-bottom: 24px;
            .form_checkbox {
                cursor: pointer;
            }
        }
    }
    .servicePrice {
        .setting_servicePrice {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
    .propertyDistrict,
    .propertyCity {
        margin-bottom: 24px;
        h3 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .filterServiceForm {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'district city'
            'houseCall price'
            'btnReset btnSubmit';
        .propertyDistrict {
            grid-area: district;
        }
        .propertyCity {
            grid-area: city;
        }
        .houseCall {
            grid-area: houseCall;
        }
        .servicePrice {
            grid-area: price;
        }
        .houseCall,
        .servicePrice,
        .reset_setting_form,
        input[type='submit'] {
            width: 100%;
            justify-self: center;
        }
        .reset_setting_form {
            grid-area: btnReset;
        }
        input[type='submit'] {
            grid-area: btnSubmit;
        }
    }
}
