.controls {
    width: 1440px;
    margin: 0 auto 50px;
    padding-top: 146px;
    .controls_wrapper {
        width: 1240px;
        margin: 0 auto;
        display: flex;
        font-family: var(--font-inter);
        .button_all_categories {
            width: 190px;
            height: 3rem;
            border-radius: 8px;
            border: none;
            background-color: var(--main-green);
            font-weight: 600;
            font-family: var(--font-sf);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            margin-right: 20px;
            cursor: pointer;
            svg {
                margin-right: 8px;
            }
        }
        .button_all_categories:active {
            opacity: 0.75;
        }
        .input_wrapper {
            width: 820px;
            height: 3rem;
            padding: 24px 12px;
            border-radius: var(--radii);
            display: flex;
            align-items: center;
            margin-right: 47px;
            position: relative;
            svg {
                margin-right: 8px;
                position: absolute;
                left: 25px;
            }
            input {
                outline: none;
                width: 100%;
                height: 50px;
                border: 1px solid var(--grey-1);
                padding: 16px 16px 16px 50px;
                &:focus {
                    border: 1px solid var(--main-blue);
                }
            }
        }
        .select_wrapper {
            width: 164px;
            height: 3rem;
            padding: 12px 16px;
            border-radius: var(--radii);
            border: 1px solid var(--main-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            select {
                width: 60%;
                font-weight: 500;
                color: var(--main-blue);
                border: none;
                -webkit-appearance: none;
                //для firefox
                /* background: white url('../../shared/ui/icons/down.svg')
                    no-repeat right 30%;
                background-size: 20%; */
            }
            #arrow_down {
                position: absolute;
                top: 13px;
                right: 5px;
            }
            svg {
                margin-right: 8px;
            }
        }
    }
}

@media (max-width: 1439px) {
    .controls {
        width: 100%;
        margin: 0 auto 40px;
        padding-top: 136px;
        .controls_wrapper {
            width: 85%;
            margin: 0 auto 40px;
            justify-content: space-between;
            .button_all_categories {
                width: 18%;
                padding: 12px;
                font-size: 14px;
            }
            .input_wrapper {
                width: 55%;
                margin-right: 15px;
            }
            .select_wrapper {
                width: 15%;
                padding: 0.5rem;
                select {
                    width: 80%;
                    background-size: 15%;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .controls {
        width: 100%;
        margin: 0 0 40px;
        padding-top: 106px;
        .controls_wrapper {
            .button_all_categories {
                width: 10rem;
                padding: 8px;
                margin-right: 0;
            }
            .input_wrapper {
                margin-right: 0;
            }
            .select_wrapper {
                width: 22%;
                select {
                    background-size: 20%;
                }
                svg {
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .button_all_categories {
        margin-left: auto;
        margin-top: 12px;
        width: 82%;
        height: 24px;
        border: none;
        background: none;
        color: var(--main-green);
        font-size: 14px;
        text-align: end;
        vertical-align: center;
        cursor: pointer;
        svg {
            display: none;
        }
    }
}

@media (min-width: 475px) and (max-width: 767px) {
    .controls {
        width: 100%;
        margin-bottom: 20px;
        .controls_wrapper {
            width: 93%;
            margin: 0 auto 20px;
            display: grid;
            grid-template-areas:
                'input input'
                'select button';

            .button_all_categories {
                grid-area: button;
            }
            .input_wrapper {
                grid-area: input;
                width: 100%;
                padding: 0;
                input {
                    background: none;
                    padding-left: 40px;
                }
                svg {
                    left: 10px;
                }
            }
            .input_wrapper:focus {
                border: 1px solid var(--main-blue);
            }
            .select_wrapper {
                gap: 1rem;
                border: none;
                width: 100%;
                padding-left: 0;
                p {
                    width: 125px;
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .controls {
        width: 100%;
        padding-top: 76px;
        margin: 0 0 10px;
        .controls_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            margin: 0 0 10px;

            .input_wrapper {
                grid-area: input;
                width: 100%;
                padding: 0;
                input {
                    background: none;
                    padding-left: 40px;
                }
                svg {
                    left: 10px;
                }
            }
            .input_wrapper:focus {
                border: 1px solid var(--main-blue);
            }
            .select_wrapper {
                justify-content: flex-start;
                border: none;
                width: 45%;
                padding: 8px 0;
                p {
                    width: 50%;
                }
                select {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .controls {
        .controls_wrapper {
            .select_wrapper {
                width: 60%;
                select {
                    width: 45%;
                }
            }
        }
    }
}
