a {
    text-decoration: none;
    color: var(--main-black);
}
.last-announcement {
    width: 1440px;
    margin: 0px auto 50px;
    .last-adverts-wrapper {
        width: 1240px;
        margin: 0 auto 40px;
        font-family: var(--font-inter);
        & .pagination {
            text-align: center;
        }
        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 40px;
            font-family: var(--font-sf);
        }
        .adverts-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
            margin-bottom: 40px;
            .adverts-cart {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                background-color: var(--main-background);
                border-radius: 1rem;
                border: none;
                img {
                    width: 100%;
                    height: 239px;
                    min-height: 150px;
                    border-radius: 16px 16px 0 0;
                    border: none;
                    object-fit: cover;
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;
                    padding: 0.75rem 1rem 1.25rem;

                    .price {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        color: var(--main-blue);
                        letter-spacing: 1px;
                        p {
                            width: 87%;
                            margin-bottom: 10px;
                        }
                        span {
                            position: absolute;
                            right: 0;
                        }
                    }
                    p {
                        margin-bottom: 0.75rem;
                        -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -ms-line-clamp: 2;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        display: -webkit-box;
                        display: box;
                        word-wrap: break-word;
                        -webkit-box-orient: vertical;
                        box-orient: vertical;
                    }
                    .user-main {
                        display: flex;
                        align-items: center;
                        height: 30px;
                        font-weight: 400;
                        color: var(--grey-3);
                        .rating-number {
                            width: 37px;
                            height: 26px;
                            padding: 4px 5px;
                            background-color: #ffd87366;
                            border-radius: 50%;
                            margin-left: 0.5rem;
                            font-size: 16px;
                            font-weight: 700;
                            color: #434343;
                        }
                    }

                    span {
                        color: var(--grey-3);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .last-announcement {
        width: 100%;
        margin: 0px auto 40px;
        .last-adverts-wrapper {
            width: 85%;
            margin: 0 auto 40px;
            font-family: var(--font-inter);
            .adverts-list {
                justify-items: center;
            }
            & .pagination {
                text-align: center;
            }
            h3 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 1090px) {
    .last-announcement {
        width: 100%;
        margin: 0 auto 20px;
        .last-adverts-wrapper {
            width: 85%;
            margin: 0 auto 20px;
            font-family: var(--font-inter);
            & .pagination {
                text-align: center;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 18px;
            }
            .adverts-list {
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                margin: 20px auto;
                justify-content: space-between;
                justify-items: center;
                .adverts-cart {
                    margin: 0 auto;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                    height: auto;
                    background-color: var(--main-background);
                    border-radius: 1rem;
                    border: none;

                    img {
                        width: 100%;
                        height: 140px;
                        border-radius: 16px 16px 0 0;
                        border: none;
                    }
                    .description {
                        padding: 0.75rem 1rem 10px;
                        .price {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 12px;
                            color: var(--main-blue);
                            letter-spacing: 1px;
                        }
                        p {
                            margin-bottom: 12px;
                            -ms-line-clamp: 3;
                            -webkit-line-clamp: 3;
                            line-clamp: 3;
                        }
                        span {
                            color: var(--grey-3);
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .last-announcement {
        .last-adverts-wrapper {
            width: 93.5%;
        }
    }
}

@media (max-width: 615px) {
    .last-announcement {
        .last-adverts-wrapper {
            .adverts-list {
                grid-template-columns: repeat(2, 1fr);
                .adverts-cart {
                    .description {
                        .user-main {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 374px) and (max-width: 425px) {
    .last-adverts {
        .last-adverts-wrapper {
            h3 {
                font-size: 1.1rem;
            }
            .adverts-list {
                gap: 0.75rem;
                .adverts-cart {
                    img {
                        height: 130px;
                        border-radius: 12px 12px 0 0;
                    }
                    .description {
                        padding: 0.75rem;
                        .price {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }
                        p {
                            font-size: 14px;
                            margin-bottom: 6px;
                        }
                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 374px) {
    .last-adverts {
        .last-adverts-wrapper {
            h3 {
                font-size: 1.1rem;
            }
            .adverts-list {
                grid-template-columns: 1fr 1fr;
                gap: 0.75rem;
                .adverts-cart {
                    img {
                        height: 130px;
                        border-radius: 8px 8px 0 0;
                    }
                    .description {
                        padding: 0.5rem;
                        .price {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }
                        p {
                            font-size: 14px;
                            margin-bottom: 6px;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
