.modal_option_background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    position: fixed;
    cursor: pointer;
}
.title {
    width: 100%;
    margin: 1rem auto;
    font-size: 28px;
}
.bread_crumbs {
    color: var(--grey-3);
    margin: 0 auto 20px;
    max-width: 1240px;
    padding-top: 130px;
    a {
        text-decoration: none;
        color: var(--grey-3);
    }
}
.noAnnouncements {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.announcements_list {
    max-width: 1240px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    .announcement {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--main-background);
        border-radius: 1rem;
        border: none;
        position: relative;
        & > * {
            text-decoration: none;
            color: black;
        }
        .options {
            box-sizing: content-box;
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 8px;
            right: 9px;
            width: 33px;
            cursor: pointer;
            padding: 10px;
            z-index: 8;
            .option {
                border-radius: 3.5px;
                width: 7px;
                height: 7px;
                background-color: white;
                box-shadow: 0 0 6px 1.5px rgba(0, 0, 0, 0.6);
            }
        }

        .modal_option {
            font-size: 14px;
            font-weight: 700;
            z-index: 10;
            position: absolute;
            background-color: white;
            border-radius: var(--radii);
            top: 18px;
            right: 18px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            input[type='checkbox'] {
                width: 1px;
                height: 1px;
                opacity: 0;
                padding: 0; // для сафари
            }
            .label_option {
                margin-bottom: 4px;
                span {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .label_option > span::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 4px;
                margin: 0 14px 0 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                background-color: var(--grey-1);
            }
            .label_option > input:checked + span::before {
                background-size: 60%;
                background: var(--main-green) url('shared/ui/icons/union.svg')
                    no-repeat center center;
                box-shadow: none;
            }
            .edit {
                gap: 11px;
                cursor: pointer;
            }
            .edit,
            .label_option,
            .delete{
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
            }
            .edit:hover,
            .label_option:hover,
            .delete:hover{
                background-color: var(--grey-2);
                border-radius: var(--radii);
            }
            .delete{
                span{
                    margin: 0 1rem 0 3px;
                }
                color: var(--error);
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            height: 239px;
            min-height: 150px;
            border-radius: 16px 16px 0 0;
            border: none;
            object-fit: cover;
        }
        .description {
            margin: 12px 16px 16px;
            .price {
                color: var(--main-blue);
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 12px;
                font-size: 18px;
                font-weight: 700;
            }
            .date_and_likes {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 400;
                span {
                    color: var(--grey-3);
                    font-size: 14px;
                }
                .likes {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 1439px) {
    .title {
        width: 85%;
    }
    .bread_crumbs {
        width: 85%;
        margin: 0 auto;
        padding-top: 130px;
    }
    .announcements_list {
        width: 85%;
        margin: 0 auto 40px;
    }
}

@media (max-width: 1090px) {
    .announcements_list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-content: space-between;
        justify-items: center;
        .announcement {
            img {
                height: 140px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .bread_crumbs {
        padding-top: 110px;
    }
    .title {
        width: 85%;
        margin: 15px auto 25px;
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .title {
        width: 85%;
        margin: 0 15px 25px;
    }
    .bread_crumbs {
        width: 100%;
        margin: 0 auto;
        padding: 100px 15px 15px;
    }

    .announcements_list {
        width: 93.5%;
    }
}
@media (max-width: 615px) {
    .title {
        padding: 0 15px 15px;
        margin: 0;
        width: 100%;
        font-size: 20px;
    }
    .announcements_list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 475px) {
    .bread_crumbs {
        padding-top: 75px;
    }

    .announcements_list {
        .announcement {
            .description {
                .date_and_likes {
                    width: max-content;
                    flex-direction: column;
                    gap: 8px;
                    align-items: start;
                    justify-content: space-between;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .title {
        width: 100%;
        margin: 0 auto 16px;
        padding: 0 15px;
        font-size: 22px;
    }
    .announcements_list{
        .announcement{
            .modal_option{//чтобы модалка не уезжала за экран
                top: 0;
                right: -26px;
            }
            &:nth-child(2n - 1){//иначе модальное окно левого столбца уедет за экран
                .modal_option{
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

@media (max-width: 374px) {
    .announcements_list {
        gap: 0.75rem;
        .announcement {
            img {
                min-height: 130px;
                height: 130px !important;
                border-radius: 8px 8px 0 0;
            }
            .description{
                margin: 12px 8px;
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
