.activate_acc_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .activate_acc_header {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-size: 32px;
        width: 50%;
        border: 1.5px solid var(--main-blue);
        border-radius: 16px;
        text-align: center;

        .redirect {
            cursor: pointer;
            font-size: 32px;
            color: var(--main-blue);
        }
    }
}

@media (min-width: 475px) and (max-width: 1023px) {
    .activate_acc_page {
        .activate_acc_header {
            font-size: 24px;
            width: 90%;
            .redirect {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 474px) {
    .activate_acc_page {
        .activate_acc_header {
            h1 {
                font-size: 20px;
            }
            font-size: 18px;
            width: 90%;
            .redirect {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}