@media (min-width: 1024px) and (max-width: 1439px) {
    main {
        width: 100%;
        margin: 0 auto;

        .bread-crumbs {
            width: 85%;
            margin: 0 auto;
        }

        h1 {
            width: 85%;
            margin: 15px auto 25px;
        }

        .filters-announcement {
            width: 85%;
            margin: 0 auto;
            .filter-form {
                width: 30%;
                .filters {
                    width: 100%;
                    padding: 16px 16px 24px 16px;
                }
            }

            .announcement {
                width: calc(70% - 16px);
                .card {
                    width: 100%;
                    .image {
                        img {
                            width: 240px;
                        }
                    }
                    .description {
                        padding: 12px 0;
                        h2,
                        h3 {
                            font-size: 22px;
                            margin-bottom: 12px;
                            width: 85%; //чтобы на лайк не заехало
                        }
                        .description-location,
                        .card-description,
                        .time {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
        .pagination {
            margin: 30px auto 50px;
        }
    }
}
@media (min-width: 1300px) and (max-width: 1439px) {
    main {
        .filters-announcement {
            .filters {
                .filter-realty-form {
                    .setting-price {
                        .setting-price-announcement {
                            label {
                                padding: 8px 5.5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
