@media (min-width: 425px) and (max-width: 767px) {
    main {
        width: 100vw;

        .bread-crumbs {
            width: 100%;
            margin: 0 auto 16px;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            svg {
                display: block;
            }
            h1 {
                padding: 0;
                color: var(--main-black);
            }
            .filter-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--main-black);
                border-radius: var(--radii);
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-family: var(--font-inter);
                font-weight: 500;
                padding: 10px 17px;
            }
        }

        h1 {
            width: 100%;
            margin: 0 auto;
            padding: 15px;
            font-size: 22px;
        }

        .filters-adverts {
            flex-direction: column;
            .filter-form {
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 10;
                height: 460vh;
                width: 100vw;
                position: absolute;
                .filters {
                    width: 100%;
                    padding: 16px 40px 24px;
                    border-radius: 0 0 8px 8px;
                    background-color: var(--main-background);
                }
            }
            .adverts {
                width: calc(100% - 30px);
                margin: 0px 15px;
                .card {
                    flex-direction: column;
                    width: 100%;
                    height: 218px;
                    .image {
                        display: flex;
                        overflow-x: scroll;
                        border-radius: 8px;
                        gap: 8px;
                        width: 100%;
                        height: 100px;
                        scrollbar-width: none; /* Для Firefox */
                        -ms-overflow-style: none;
                        &::-webkit-scrollbar {
                            overflow: -moz-scrollbars-none;
                            scrollbar-width: none; // для firefox
                            width: 0;
                            height: 0;
                            display: none;
                        }
                        img {
                            max-width: 116px;
                            min-width: 116px;
                            height: 100px;
                            border-radius: var(--radii);
                            margin-right: 0;
                        }
                    }
                    .add-to-favorite {
                        top: 110px;
                    }
                    .description {
                        margin: 8px 0px 0px;
                        padding: 0px 8px;
                        height: 94px;
                        h2,
                        h3 {
                            font-size: 16px;
                            margin-bottom: 8px;
                        }
                        .description-location {
                            font-size: 12px;
                            margin-bottom: 8px;
                            font-weight: 400;
                        }
                        h3 {
                            font-weight: 600;
                        }
                        .card-description {
                            display: none;
                        }
                        .author {
                            gap: 5px;
                        }
                        .time {
                            position: relative;
                            bottom: 23px;
                            left: 285px;
                            width: 45%;
                        }
                    }
                }
            }
        }

        .pagination {
            margin: 20px auto 30px;
        }
    }
}
