@media (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 100%;
        margin: 0 auto;

        .bread-crumbs {
            width: 85%;
            margin: 0 auto 30px;
            display: flex;
            align-items: center;
            a{
                display: flex;
            }
            .filter-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--main-black);
                border-radius: var(--radii);
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-family: var(--font-inter);
                font-weight: 500;
                padding: 10px 17px;
            }
        }

        h1 {
            width: 85%;
            margin: 0;
            font-size: 26px;
        }

        .filters-adverts {
            width: 85%;
            margin: 0 auto;
            flex-direction: column;
            gap: 20px;
            .filter-form {
                width: 100%;
                .filters {
                    width: 100%;
                    padding: 24px 24px 12px;
                }
            }
            .adverts {
                width: 100%;
                .card {
                    width: 100%;
                    .image {
                        img {
                            width: 265px;
                        }
                    }
                    .description {
                        h2 {
                            font-size: 20px;
                            width: 90%;
                            margin-bottom: 12px;
                        }
                        .description-location,
                        .card-description {
                            margin-bottom: 12px;
                        }
                        h3 {
                            margin-bottom: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .pagination {
            margin: 30px auto 40px;
        }
    }
}
