main {
    max-width: 1440px;
    margin: auto;

    .bread-crumbs {
        max-width: 1240px;
        margin: auto;
        color: var(--grey-3);
        font-size: 14px;
        a {
            text-decoration: none;
            color: var(--grey-3);
        }
    }

    h1 {
        max-width: 1240px;
        margin: 20px auto 40px;
        font-family: var(--font-sf);
        font-size: 32px;
        font-weight: 700;
    }

    .filters-adverts {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
        margin: auto;
        gap: 16px;
        position: relative; //чтобы темный фон открытых фильтров был на всю высоту родителя
        .filter-form {
            width: calc(25% - 16px);
            .filters {
                width: 100%;
                border-radius: 16px;
                height: fit-content;
                background-color: var(--grey-4);
                padding: 24px 24px 32px;
                position: relative; //попробовать чтобы не закрывалось
                z-index: 11; //модальное окно при скролле на телефоне
                // чтобы стрелочек не было в инпутах
            }
        }

        .adverts {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 75%;

            .card {
                position: relative;
                border-radius: 16px;
                background-color: var(--main-background);
                display: flex;
                font-family: var(--font-inter);
                color: var(--main-black);
                width: 909px;
                height: 280px; //иначе картинка поплывет
                cursor: pointer;
                .add-to-favorite {
                    position: absolute;
                    top: 16px;
                    left: calc(100% - 32px);
                    height: 20px;
                    z-index: 2;
                    cursor: pointer;
                }
                .image {
                    img {
                        border-radius: 16px 0 0 16px;
                        margin-right: 16px;
                        width: 319px;
                        height: 280px;
                        object-fit: cover;
                    }
                }
                .description {
                    padding: 16px 0px;
                    padding-right: 8px;
                    position: relative;
                    h2 {
                        font-size: 26px;
                        font-weight: 700;
                        margin-bottom: 16px;
                        -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -ms-line-clamp: 1;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        display: -webkit-box;
                        display: box;
                        word-wrap: break-word;
                        -webkit-box-orient: vertical;
                        box-orient: vertical;
                    }
                    .description-location {
                        font-weight: 600;
                        margin-bottom: 16px;
                    }
                    h3 {
                        font-size: 26px;
                        font-weight: 700;
                        color: var(--main-blue);
                        letter-spacing: 3px;
                        margin-bottom: 16px;
                    }
                    .card-description {
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 16px;
                        //будет только 4 строчки и многоточие
                        -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -ms-line-clamp: 4;
                        -webkit-line-clamp: 4;
                        line-clamp: 4;
                        display: -webkit-box;
                        display: box;
                        word-wrap: break-word;
                        -webkit-box-orient: vertical;
                        box-orient: vertical;
                    }
                    .time,
                    .author {
                        display: flex;
                        gap: 16px;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 16px;
                    }
                    .author {
                        margin-bottom: 4px;
                    }
                    .time {
                        color: var(--grey-3);
                    }
                }
            }
            .adverts-not-found {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
    }

    .pagination {
        max-width: 1240px;
        margin: 30px auto 60px;
        text-align: center;
    }
}
