.shadow {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.9);
    text-align: center;
}

.portal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    img {
        width: 90%;
        margin: 20px auto 0;
        border-radius: 16px;
    }
    /* .horizontal {
        height: 90vh;
    } */
    .vertical {
        width: unset;
        max-width: 90%;
        min-height: 80vh;
        max-height: 90vh;
    }
    .close_portal {
        position: absolute;
        top: 30px;
        right: 70px;
        width: 44px;
        height: 44px;
        background-color: #5c5c5c80;
        border-radius: 8px;
        padding: 12px;
        svg {
            width: 20px;
            height: 20px;
            transition: all 0.5s ease;
            cursor: pointer;
        }
    }
    .close_portal svg:hover {
        transform: scale(1.2);
    }
    .prev,
    .next {
        position: absolute;
        top: 50%;
        left: 70px;
        width: 42px;
        height: 42px;
        background-color: #5c5c5c80;
        border-radius: 8px;
        padding: 2px;
        svg {
            width: 35px;
            height: 35px;
            transition: all 0.5s ease;
            cursor: pointer;
        }
    }
    .next {
        left: unset;
        right: 70px;
        padding: 3px 5px;
    }
    .prev svg:hover,
    .next svg:hover {
        transform: scale(1.3);
    }
    .pages {
        position: absolute;
        bottom: 20px;
        left: 48%;
        display: flex;
        width: auto;
        height: 55px;
        background-color: #5c5c5c80;
        border-radius: 8px;
        padding: 6px 12px;

        span {
            font-size: 2rem;
        }
        span:first-child {
            color: white;
        }
        span:last-child {
            color: #ebeaea;
        }
    }
}

@media (max-width: 1440px) {
    .portal {
        top: 55%;
        .horizontal {
            width: 95%;
            height: unset;

            //height: 78vh;
        }
        .close_portal {
            right: 35px;
        }
        .next {
            right: 35px;
        }
        .prev {
            left: 35px;
        }
    }
}

@media (max-width: 1240px) {
    .portal {
        .horizontal {
            height: unset;
            width: 95%;
        }
        .close_portal {
            right: 30px;
        }
        .next {
            right: 30px;
        }
        .prev {
            left: 30px;
        }
    }
}

@media (max-width: 1023px) {
    .portal {
        top: 60%;
        width: 95%;
        img {
            margin: 0 auto;
        }
        /* .horizontal {
            width: 90%;
        } */
        .close_portal {
            top: 10px;
        }
        .pages {
            left: 46%;
        }
    }
}

@media (max-width: 767px) {
    .portal {
        .horizontal {
            width: 100%;
        }
        .close_portal {
            right: 10px;
            width: 26px;
            height: 26px;
            padding: 6px;
            background-color: #5c5c5c80;
            svg {
                width: 14px;
                height: 14px;
            }
        }
        .next,
        .prev {
            width: 26px;
            height: 26px;
            background-color: #5c5c5c80;
            svg {
                position: absolute;
                left: -5px;
                top: -4px;
            }
        }
        .next {
            right: 10px;
            svg {
                left: -3px;
                transform: scale(0.9);
            }
        }
        .prev {
            left: 10px;
        }
        .pages {
            z-index: 1100;
            left: 47%;
            height: 27px;
            padding: 4px 12px;
            background-color: #5c5c5c80;
            span {
                font-size: 1rem;
            }
            span:last-child {
                color: #ebeaea;
            }
        }
    }
}

@media (max-width: 600px) {
    .portal {
        top: 55%;
        /* .horizontal {
            min-height: 35vh;
        } */
        .vertical {
            min-height: 70vh;
        }
    }
}

@media (max-width: 500px) {
    .portal {
        top: 50%;
        /* .horizontal {
            min-height: 25vh;
        } */
        .vertical {
            min-height: 51vh;
        }
        .pages {
            left: 45%;
        }
        .prev,
        .next {
            top: 45%;
        }
    }
}

@media (max-width: 360px) {
    .portal {
        top: 40%;
        .vertical {
            min-height: 44vh;
        }
        .pages {
            left: 44%;
        }
    }
}
