.announcement_wrapper {
    max-width: 1240px;
    margin: 0 auto 50px;
    .announcement_header {
        font-size: 1.63rem;
        margin: 1.5rem 0;
        color: var(--main-black);
        width: 67%;
        text-align: justify;
    }
    p {
        font-size: 16px;
        color: var(--main-black);
    }
    .announcement_info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        margin-top: 2rem;
        .product_info {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            width: 68%;
            .description {
                .description_header {
                    margin-bottom: 1rem;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--main-black);
                }
                p {
                    font-size: 20px;
                    color: var(--main-black);
                }
            }
        }
        .owner_info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 32%;
            .price_block {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                width: 100%;
                height: 60px;
                background-color: var(--main-background);
                border-radius: 16px;
                text-align: center;
                font-size: 16px;
                color: var(--grey-3);
                .price {
                    font-size: 27px;
                    font-weight: 700;
                    color: var(--main-blue);
                }
            }
            .public_date {
                font-size: 14px;
                color: var(--grey-3);
                span {
                    font-weight: 600;
                }
            }
            .call_button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.7rem;
                border: none;
                border-radius: var(--radii);
                background-color: var(--main-blue);
                color: white;
                font-family: var(--font-sf);
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
            }
            .write_button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.7rem;
                border: 1px solid var(--main-blue);
                border-radius: var(--radii);
                background-color: transparent;
                color: var(--main-blue);
                font-family: var(--font-sf);
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1439px) {
    .announcement_wrapper {
        width: 85%;
        .bread_crumbs {
            width: 85%;
            margin: 0;
        }
        .image_wrapper {
            .active_image {
                height: 40vw;
                img {
                    height: 40vw;
                }
                .blur_left,
                .blur_right {
                    height: 40vw;
                    clip-path: inset(0 0 0 0);
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .announcement_wrapper {
        .bread_crumbs {
            a {
                width: unset;
            }
        }
    }
}

@media (max-width: 767px) {
    .announcement_wrapper {
        width: 93%;
        .announcement_header {
            margin: 0;
            font-size: 24px;
        }
        .bread_crumbs {
            display: flex;
            padding: 90px 0 0;
            width: 100%;
            h1 {
                font-size: 20px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                -ms-line-clamp: 2;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                display: box;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                box-orient: vertical;
            }
        }
        .announcement_info {
            margin-top: 0;
            flex-direction: column;
            .owner_info {
                width: 100%;
                margin-top: 22px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    'info info'
                    'title title'
                    'date date'
                    'owner owner'
                    'write call';
                .price_block {
                    grid-area: info;
                }
                .full_title {
                    grid-area: title;
                    padding: 0;
                    margin: 0;
                    font-size: 24px;
                }
                .owner {
                    grid-area: owner;
                }
                .call_button {
                    grid-area: call;
                }
                .write_button {
                    grid-area: write;
                }
                .public_date {
                    grid-area: date;
                }
            }
        }
        .announcement_info {
            .product_info {
                width: 100%;
            }
        }
    }
}

@media (max-width: 475px) {
    .announcement_wrapper {
        .bread_crumbs {
            padding: 70px 0 0;
            svg {
                width: 20px;
            }
        }
    }
}
