.modal-choiceCategories {
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .choiceCategory-content {
        width: 262px;
        height: min-content;
        padding: 0.75rem 0px;
        border-radius: var(--radii);
        border: none;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0705882353);
        background-color: var(--white);
        position: relative;
        z-index: 12;
        top: 75px;
        right: 15px;
        .choice-category {
            padding: 12px 1.5rem;
            margin: 0 auto;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.7s ease;
        }
        .choice-category:hover {
            background-color: var(--grey-1);
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .modal-choiceCategories {
        .choiceCategory-content {
            width: 26%;
            top: 46px;
        }
    }
}
@media (min-width: 475px) and (max-width: 767px) {
    .modal-choiceCategories {
        .choiceCategory-content {
            top: 46px;
        }
    }
}
@media (min-width: 601px) and (max-width: 767px) {
    .modal-choiceCategories {
        .choiceCategory-content {
            width: 40%;
        }
    }
}
@media (min-width: 475px) and (max-width: 600px) {
    .modal-choiceCategories {
        .choiceCategory-content {
            width: 171px;
        }
    }
}
@media (min-width: 425px) and (max-width: 474px) {
    .modal-choiceCategories {
        position: fixed;
        background: rgba(0, 0, 0, 0.4);
        justify-content: center;
        .choiceCategory-content {
            width: 192px;
            left: 37px;
        }
    }
}
@media (max-width: 424px){
    .modal-choiceCategories {
        .choiceCategory-content {
            width: 113px;
        }
    }
}