.characteristics {
    .characteristics_header {
        font-size: 20px;
        font-weight: 600;
        color: var(--main-black);
    }
    .characteristics_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        margin-top: 0.8rem;
        .characteristics_key {
            flex: 1 1 auto;
            p {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 14px;
                color: var(--grey-3);
                line-height: 1.5rem;
                .dashes {
                    display: block;
                    flex: 1 1 auto;
                    height: 10px;
                    border-bottom: 1px dashed var(--grey-1);
                }
            }
        }
        .characteristics_value {
            width: auto;
            p {
                font-size: 14px;
                color: var(--main-black);
                line-height: 1.5rem;
            }
            & .event_date {
                display: flex;
                justify-content: center;
                gap: 5px;
                span {
                    background-color: var(--grey-4);
                    border-radius: 5px;
                    padding: 0 5px;
                    font-size: 14px;
                    color: var(--main-black);
                    line-height: 1.5rem;
                }
            }
        }
    }
}
