.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    .page-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 24px;
        cursor: pointer;
        font-family: var(--font-inter);
        font-size: 20px;
        color: var(--grey-3);
    }
    .page-number.active {
        background-color: var(--main-black);
        border-radius: 6px;
        color: #ffffff;
    }
}
